@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
	--Red: hsl(0, 100%, 74%); 
	--Green: hsl(154, 59%, 51%);
	--Blue: hsl(248, 32%, 49%);
	--Dark-Blue: hsl(249, 10%, 26%);
	--Grayish-Blue: hsl(246, 25%, 77%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background-image: url('./images/bg-intro-mobile.png');
	background-color: var(--Red);
}

#intro {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px;
}

.leftBox {
	color: white;
	text-align: center;
	padding: 15px;
}

.leftBox h1 {
	padding: 1.4rem;
	margin-bottom: 1.4rem;
	font-size: 2rem;
	line-height: 2.4rem;
}

.leftBox p {
	padding: 15px;
	line-height: 1.7rem;
}

.freeDays {
	background-color: var(--Blue);
	padding: 1rem 5rem;
	border-radius: 10px;
	margin-bottom: 20px;
	box-shadow: 5px 5px rgba(131, 129, 129, 0.534);
	color: white;
	font-size: 0.9rem;
	text-align: center;
}

.formContainer {
	background-color: white;
	padding: 25px;
	border-radius: 15px;
	box-shadow: 5px 5px rgba(131, 129, 129, 0.534);
}

.field label {
	display: none;
}

.field input {
	width: 100%;
	padding: 15px;
	margin-bottom: 12px;
	font-weight: 700;
	border: 1px solid var(--Grayish-Blue);
	border-radius: 5px;
}

 button {
	width: 100%;
	padding: 15px;
	background-color: var(--Green);
	border: none;
	color: whitesmoke;
	border-radius: 5px;
	font-size: 0.9rem;
	font-weight: 600;
	box-shadow: 4px 4px rgba(131, 129, 129, 0.534);
	text-transform: uppercase;
	transition: all 0.5s;
	cursor: pointer;
}

button:hover {
	background-color: rgb(33, 143, 69);
}

.errorTxt {
	font-size: 0.8rem;
	color: var(--Red);
}

.hidden {
	display: none;
}

.field.error .errorTxt,
.field.error .errorIcon {
	display: block;
}

.formFooter {
	font-size: 0.7rem;
	text-align: center;
	padding: 10px;
	color: var(--Grayish-Blue);
}

span {
	color: var(--Red);
	font-weight: 600;
}

.submitTxt {
	font-size: 2.5rem;
	color: white;
	font-weight: 700;
	text-align: center;
}

@media only screen and (min-width: 750px) {

	body {
		background-image: url('./images/bg-intro-desktop.png');
	}

	.container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 5rem;
	}
}












/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */